[Unit]
Description=Kubernetes Kubelet Server
Documentation=https://kubernetes.io/docs/concepts/overview/components/#kubelet https://kubernetes.io/docs/reference/generated/kubelet/
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=5
ExecStartPre=/bin/mkdir -p /var/lib/kubelet
ExecStartPre=/bin/mount --bind /var/lib/kubelet /var/lib/kubelet
ExecStartPre=/bin/mount --make-shared /var/lib/kubelet
ExecStart=/usr/bin/docker run \
    --net=host \
    --pid=host \
    --privileged \
    -v /dev:/dev \
    -v /sys:/sys:ro \
    -v /var/run:/var/run:rw \
    -v /var/lib/docker/:/var/lib/docker:rw \
    -v /var/lib/kubelet/:/var/lib/kubelet:shared \
    -v /var/log:/var/log:shared \
    -v {{CONFIG_DIR}}:/etc/kubernetes:ro \
    k8s.gcr.io/hyperkube:{{KUBE_RELEASE}} kubelet \
        --address=0.0.0.0 \
        --node-ip={{INTERNAL_IP}} \
        --allow-privileged=true \
        --cluster-dns={{CLUSTER_DNS}} \
        --cluster-domain=cluster.local \
        --network-plugin=kubenet \
        --cni-bin-dir=/opt/cni/bin \
        --cni-conf-dir=/etc/cni/net.d \
        --container-runtime=docker \
        --cgroup-driver=cgroupfs \
        --register-node=true \
        --kubeconfig=/etc/kubernetes/kubeconfig \
        --anonymous-auth=false \
        --client-ca-file=/etc/kubernetes/ca/ca.pem \
        --pod-cidr={{POD_CIDR}} \
        --pod-manifest-path=/etc/kubernetes/manifests
KillMode=process
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
